In [18]:
import quandl
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sqlalchemy import create_engine

## Create Database connection

In [19]:
connection_string = "root:password@localhost/finance_db"
engine = create_engine(f'mysql://{connection_string}')

In [20]:
quandl.ApiConfig.api_key = "_ActGA_oUdxE_dxcFcQn"

## Extract CSV into DataFrame

In [21]:
fundamental_df = pd.read_csv('fundamentals.csv')
fundamental_df['Period Ending'] = pd.to_datetime(fundamental_df['Period Ending'])
fundamental_df = fundamental_df.set_index('Period Ending')
fundamental_df = fundamental_df.loc['12-01-2012':'12-31-2017']
fundamental_df.columns
fundamental_df_reduced = fundamental_df[['Ticker Symbol','For Year','Total Revenue','Total Liabilities','Total Assets','Total Equity']]
fundamental_df_reduced = fundamental_df_reduced.rename(columns={"Ticker Symbol": "Ticker",
                                                          "For Year": "Year",
                                                          "Total Revenue": "Revenue",
                                                          "Total Liabilities": "Liabilities",
                                                          "Total Assets": "Assets",
                                                          "Total Equity": "Equity"})
fundamental_df_reduced.head()

,Ticker,Year,Revenue,Liabilities,Assets,Equity
Period Ending,,,,,,
2012-12-31,AAL,2012.0,2.485500e+10,2.489100e+10,2.351000e+10,-7.987000e+09
2013-12-31,AAL,2013.0,2.674300e+10,4.500900e+10,4.227800e+10,-2.731000e+09
2014-12-31,AAL,2014.0,4.265000e+10,4.120400e+10,4.322500e+10,2.021000e+09
2015-12-31,AAL,2015.0,4.099000e+10,4.278000e+10,4.841500e+10,5.635000e+09
2012-12-29,AAP,2012.0,6.205003e+09,3.403120e+09,4.613814e+09,1.210694e+09

In [22]:
tickers = fundamental_df['Ticker Symbol'].unique().tolist()
tickers

['AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABT',
 'ADBE',
 'ADI',
 'ADM',
 'ADS',
 'ADSK',
 'AEE',
 'AEP',
 'AFL',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALK',
 'ALL',
 'ALLE',
 'ALXN',
 'AMAT',
 'AME',
 'AMG',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'AN',
 'ANTM',
 'AON',
 'APA',
 'APC',
 'APD',
 'APH',
 'ARNC',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AYI',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBBY',
 'BBT',
 'BBY',
 'BCR',
 'BDX',
 'BHI',
 'BIIB',
 'BK',
 'BLL',
 'BMY',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CAG',
 'CAH',
 'CAT',
 'CB',
 'CBG',
 'CCI',
 'CCL',
 'CELG',
 'CERN',
 'CF',
 'CFG',
 'CHD',
 'CHK',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COG',
 'COL',
 'COO',
 'COST',
 'CPB',
 'CRM',
 'CSCO',
 'CSRA',
 'CSX',
 'CTAS',
 'CTL',
 'CTSH',
 'CTXS',
 'CVS',
 'CVX',
 'CXO',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISCA',
 'DISCK',
 'DLPH',
 'DLR',
 'DLTR',
 'DNB',
 'DOV',
 'DPS',
 'DRI',
 'DUK',
 'DVA',
 'DVN',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'EOG',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESS',
 'ETFC',
 'ETN',
 'ETR',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FAST',
 'FB',
 'FBHS',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FL',
 'FLIR',
 'FLR',
 'FLS',
 'FMC',
 'FRT',
 'FSLR',
 'FTR',
 'GD',
 'GGP',
 'GILD',
 'GIS',
 'GLW',
 'GM',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GT',
 'GWW',
 'HAL',
 'HAR',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HCN',
 'HCP',
 'HD',
 'HES',
 'HIG',
 'HOG',
 'HOLX',
 'HON',
 'HP',
 'HPE',
 'HPQ',
 'HRB',
 'HRL',
 'HRS',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'IBM',
 'IDXX',
 'IFF',
 'ILMN',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IRM',
 'ISRG',
 'ITW',
 'IVZ',
 'JBHT',
 'JEC',
 'JNPR',
 'JPM',
 'JWN',
 'K',
 'KEY',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KORS',
 'KR',
 'KSS',
 'KSU',
 'LB',
 'LEG',
 'LEN',
 'LH',
 'LKQ',
 'LLL',
 'LLTC',
 'LLY',
 'LMT',
 'LNT',
 'LOW',
 'LRCX',
 'LUK',
 'LUV',
 'LVLT',
 'LYB',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAR',
 'MAS',
 'MAT',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MET',
 'MHK',
 'MJN',
 'MKC',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MON',
 'MOS',
 'MPC',
 'MRK',
 'MRO',
 'MSFT',
 'MTB',
 'MTD',
 'MU',
 'MUR',
 'MYL',
 'NAVI',
 'NBL',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NFX',
 'NKE',
 'NLSN',
 'NOV',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NWL',
 'NWS',
 'NWSA',
 'O',
 'OKE',
 'OMC',
 'ORLY',
 'OXY',
 'PAYX',
 'PBCT',
 'PBI',
 'PCAR',
 'PCG',
 'PCLN',
 'PDCO',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKI',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PPG',
 'PPL',
 'PRU',
 'PSX',
 'PVH',
 'PWR',
 'PX',
 'PYPL',
 'QCOM',
 'QRVO',
 'R',
 'RCL',
 'REGN',
 'RHI',
 'RHT',
 'RL',
 'ROK',
 'ROP',
 'ROST',
 'RRC',
 'RSG',
 'SBUX',
 'SCG',
 'SCHW',
 'SE',
 'SEE',
 'SHW',
 'SIG',
 'SJM',
 'SLG',
 'SNA',
 'SNI',
 'SO',
 'SPG',
 'SPGI',
 'SPLS',
 'SRCL',
 'SRE',
 'STI',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SWN',
 'SYF',
 'SYK',
 'SYMC',
 'SYY',
 'T',
 'TAP',
 'TDC',
 'TDG',
 'TEL',
 'TGNA',
 'TGT',
 'TIF',
 'TJX',
 'TMK',
 'TMO',
 'TRIP',
 'TRV',
 'TSCO',
 'TSN',
 'TSO',
 'TSS',
 'TXN',
 'TXT',
 'UA',
 'UAA',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URBN',
 'USB',
 'UTX',
 'V',
 'VAR',
 'VFC',
 'VIAB',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VZ',
 'WAT',
 'WDC',
 'WEC',
 'WFC',
 'WFM',
 'WHR',
 'WLTW',
 'WM',
 'WMB',
 'WMT',
 'WRK',
 'WU',
 'WY',
 'WYN',
 'WYNN',
 'XEC',
 'XEL',
 'XL',
 'XLNX',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YHOO',
 'YUM',
 'ZBH',
 'ZION',
 'ZTS']

In [23]:
#set start date (minus 1yr to pull yr. avg price)
start_date = fundamental_df.index.min() - timedelta(days=370)

In [24]:
#set end date for pull
end_date = fundamental_df.index.max()

## Extract API into DataFrame

In [25]:
#data pull
data = quandl.get_table('WIKI/PRICES', ticker = tickers, 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': start_date, 'lte': end_date }, 
                        paginate=True)

In [26]:
data['Year'] = data['date'].dt.year
data

       ticker       date  adj_close  Year
None
0         ZTS 2016-12-30  53.228218  2016
1         ZTS 2016-12-29  53.317711  2016
2         ZTS 2016-12-28  53.138726  2016
3         ZTS 2016-12-27  53.417147  2016
4         ZTS 2016-12-23  53.476809  2016
5         ZTS 2016-12-22  52.959741  2016
6         ZTS 2016-12-21  52.820530  2016
7         ZTS 2016-12-20  52.800643  2016
8         ZTS 2016-12-19  52.094645  2016
9         ZTS 2016-12-16  52.164251  2016
10        ZTS 2016-12-15  52.025040  2016
11        ZTS 2016-12-14  50.553384  2016
12        ZTS 2016-12-13  50.762200  2016
13        ZTS 2016-12-12  50.632933  2016
14        ZTS 2016-12-09  51.597464  2016
15        ZTS 2016-12-08  51.388648  2016
16        ZTS 2016-12-07  50.971016  2016
17        ZTS 2016-12-06  49.936879  2016
18        ZTS 2016-12-05  49.539134  2016
19        ZTS 2016-12-02  48.823193  2016
20        ZTS 2016-12-01  48.882855  2016
21        ZTS 2016-11-30  50.095977  2016
22        ZTS 2016-11-29  50.165582  2016
23        ZTS 2016-11-28  49.867274  2016
24        ZTS 2016-11-25  49.897104  2016
25        ZTS 2016-11-23  49.897104  2016
26        ZTS 2016-11-22  49.350205  2016
27        ZTS 2016-11-21  49.718119  2016
28        ZTS 2016-11-18  49.608739  2016
29        ZTS 2016-11-17  48.932573  2016
...       ...        ...        ...   ...
552563    AAL 2012-02-08  23.644913  2012
552564    AAL 2012-02-07  24.008681  2012
552565    AAL 2012-02-06  23.774830  2012
552566    AAL 2012-02-03  25.048018  2012
552567    AAL 2012-02-02  23.696880  2012
552568    AAL 2012-02-01  23.125245  2012
552569    AAL 2012-01-31  21.930007  2012
552570    AAL 2012-01-30  22.137875  2012
552571    AAL 2012-01-27  21.254438  2012
552572    AAL 2012-01-26  20.396986  2012
552573    AAL 2012-01-25  19.539533  2012
552574    AAL 2012-01-24  16.655373  2012
552575    AAL 2012-01-23  16.265622  2012
552576    AAL 2012-01-20  16.551439  2012
552577    AAL 2012-01-19  16.265622  2012
552578    AAL 2012-01-18  15.693986  2012
552579    AAL 2012-01-17  15.278252  2012
552580    AAL 2012-01-13  15.512102  2012
552581    AAL 2012-01-12  15.719970  2012
552582    AAL 2012-01-11  15.356202  2012
552583    AAL 2012-01-10  14.862517  2012
552584    AAL 2012-01-09  14.862517  2012
552585    AAL 2012-01-06  14.550716  2012
552586    AAL 2012-01-05  14.212931  2012
552587    AAL 2012-01-04  13.069661  2012
552588    AAL 2012-01-03  13.303512  2012
552589    AAL 2011-12-30  13.173594  2011
552590    AAL 2011-12-29  13.589329  2011
552591    AAL 2011-12-28  13.485396  2011
552592    AAL 2011-12-27  14.031047  2011

[552593 rows x 4 columns]

In [27]:
engine.table_names()

['combined_data',
 'fundamental_stock_data',
 'year_avg_data',
 'yearly_stock_data']

## Load DataFrames into the Database

In [28]:
data.to_sql(name = 'yearly_stock_data', con=engine, if_exists='replace',index=False)
fundamental_df_reduced.to_sql(name = 'fundamental_stock_data', con=engine,if_exists='replace',index=False)

In [29]:
engine.table_names()

['combined_data',
 'fundamental_stock_data',
 'year_avg_data',
 'yearly_stock_data']